* {
    box-sizing: border-box;
}

html {
    font-family: lato-regular, serif;
    text-align: left;
    color: var(--primary-clr-base);
}

body {
    margin: 0;
    font-size: 1rem;
}

img {
    display: block;
    /* width: 100%; */
}

