.main-paging {
    display: flex;
    justify-content: space-between;

    height: 70px;

    border-inline: 1px solid RGBA(225, 224, 224, 1);
}

.main-paging .paging {
    border: 0;

    background-color: var(--primary-bgc-clr-base);
    color:var(--paging-clr);

    font-family: lato-regular;
    font-weight: bold;
    font-size: 1.125em;
    text-transform: uppercase;
}