.main-header {
    height: 8.1875em;
    background-color: RGBA(41, 41, 41, 1);
}

.main-header .header .logo {
    color:var(--header-clr);
    font-family: euro,serif;
    font-size: 2.5em;
}

.main-header .main-nav button {
    width: 8.375em;
    height: 8.1875em;

    border:0;

    background-color: RGBA(41, 41, 41, 1);
}

.main-header .main-nav button a {
    color:var(--header-clr);
    font-size:1em;
    text-decoration: none;
}


